<!DOCTYPE html>
<html>
    <head>
        <title>Lio Magazine - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/config.css">
        <link rel="stylesheet" href="./css/style.css">
        <script src="js/all.js"></script>
    </head>
    <body>
        <a href="index.html">
            <img class="logo" src="./images/logo.png">
        </a>

        <section class="box">
            <h1>Login ADM</h1><br>
            <form action="../Controller/login.php">
                <label>Usuário</label>
                <input type="text" placeholder="Usuário" name="usuario">
                
                <label>Senha</label>
                <input type="password" placeholder="*****" name="senha">
                
                <input type="submit" value="Logar">
            </form> 

        </section>
    </body>
</html>