<!DOCTYPE html>
<html>
    <head>
        <title>Lio Magazine - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/config.css">
        <link rel="stylesheet" href="./css/style.css">
        <script src="js/all.js"></script>
    </head>
    <body>
        <a href="./inicio.html">
            <img class="logo" src="./images/logo.png">
        </a>
        <section class="box">
            
            <form action="./cadastroProduto.html">
                <input type="submit" value="PRODUTO">
            </form> 
            
            <form action="./cadastroCliente.html">
                <input type="submit" value="CLIENTE">
            </form>
            
            <form action="./cadastroVenda.html">
                <input type="submit" value="VENDA">
            </form>
             
            <form action="./busca.html">
                <input type="submit" value="BUSCA">
            </form> 
        </section>
        
    </body>
</html>